.DropdownFilter {
  &__title {
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__dropdown {
    position: relative;
  }

  &__selectable {
    position: absolute;
  }

  &__element {
    background: white;
    width: 100%;
  }

  &__elementText {
    padding-right: 10px;
  }
}
