.DropdownFilter {
  font-family: lato, sans-serif; //TO-DO: Change all fonts in filter sidebar
  min-height: 36px;
  min-width: 238px;

  &:focus {
    outline: none;
  }

  &__title {
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__search {
    background: white;
    position: relative;
    padding: 5px 24px 5px 5px;
    border-radius: 7px;

    &.expanded {
      border-radius: 7px 7px 0 0;
    }
  }

  &__inputElement {
    display: inline-block;
    vertical-align: baseline;
    background: #e6e6e6;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
    color: #4f4f4f;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 5px;
    padding: 0 5px;

    &:hover {
      color: #4f4f4f;
    }
  }

  &__inputDelete {
    margin-left: 5px;
    color: #d41b2c;
  }

  &__input {
    border: none;
    border-radius: 7px 7px;
    padding-left: 10px;
    display: inline;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    top: 12px;
    right: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  &__dropdown {
    position: relative;

    &:focus {
      outline: none;
    }
  }

  &__selectable {
    position: absolute;
    overflow-y: auto;
    z-index: 100000000;
    max-height: 180px;
    border-radius: 0 0 7px 7px;
    width: 100%;
  }

  &__element {
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    height: 55px;
    background: #fff;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    align-items: center;
  }

  &__element:hover {
    background: #f3f3f3;
  }

  &__elementText {
    padding-right: 4px;
    display: inline-block;
    color: black;
  }

  &__elementCount {
    color: grey;
  }
}
