.DropdownFilter {
  &__title {
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__search {
    background: white;
    display: flex;
    justify-content: space-between;
  }

  &__inputElement {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
  }

  &__inputDelete {
    color: #d41b2c;
  }

  &__input {
    height: 36px;
    border: none;
    padding-left: 10px;
    border-radius: 7px 7px;
    width: 200px;
  }

  &__icon {
    width: 10px;
    height: 9px;
    margin-top: 8px;
    margin-right: 8px;
  }

  &__icon:hover {
    cursor: pointer;
  }

  &__dropdown {
    position: relative;
  }

  &__selectable {
    position: absolute;
    width: 300px;
    overflow-y: scroll;
    z-index: 100000000;
    max-height: 180px;
  }

  &__element {
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    width: 238px;
    height: 55px;
    background: #fff;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    align-items: center;
  }

  &__element:hover {
    background: #f3f3f3;
  }

  &__elementText {
    padding-right: 10px;
    display: inline-block;
  }

  &__elementCount {
    color: grey;
  }
}
