.DropdownFilter {
  &__title {
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__input {
    height: 40px;
    border: none;
    margin-right: 10px;
    width: 200px;
  }

  &__icon:hover {
    cursor: pointer;
  }

  &__dropdown {
    position: relative;
  }

  &__selectable {
    position: absolute;
  }

  &__element {
    background: white;
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  &__elementText {
    padding-right: 10px;
  }
}
