.FeedbackModal {
  
  &__pill {
      position: fixed;
      bottom: 2%;
      right: 2%;
      z-index: 30;
      display: flex;
      align-items: center;
      height: 32px;
      width: 160px;
      border: 1px solid rgba(79, 79, 79, 0.5);
      border-radius: 20px;
      background: #FFFFFF;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px rgba(51, 142, 241, 0.5);
      }
      
      &:focus {
        outline: none;
      }


  }
  &__pill > svg {
    position: relative;
    left: 4%
  }
  &__pill > p {
    position: relative;
    left: 7%;
    width: 110px;
    white-space: nowrap;
    bottom: 22%;
    font-size: 12px;
    user-select: none;
  }

  &__popout {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 31;
    bottom: 7%;
    right: 1.5%;
    width: 224px;
    height: 284px;
    background: #F6F6F6;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }

  &__popoutHeader {
    height: 38px;
    background: #0A3767;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    align-items: center;
  }

  &__popoutHeader > p {
    color: white;
    margin-left: 10px;
    font-size: 12px;
    user-select: none;
  }

  &__popoutSubHeader {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #DBD9D9
  

  }
  &__popoutSubHeader > p {
    color: black;
    margin-left: 14px;
    width: 180px;
    font-size: 16px;
    line-height: 23px;
    user-select: none;

  }

  &__checkBoxes {
    width: 200px;
    margin-left: 12px;
    margin-top: 12px;
  }

  &__checkboxElement {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2px;
    margin-bottom: 5px;
    width: 200px;
    border-radius: 3px;
    &:hover {
      background: #EAEAEA;

    }
    

  }

  &__checkboxText {
    padding-left: 38px;
    flex-grow: 1;
    cursor: pointer;
    user-select: none;
    font-size: 12px;

    &:hover {
      color: black;
    }
  }

  &__checkboxBox {
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.42);

    &:hover {
      cursor: pointer;
    }

    &::after {
      /* Styles for the check */
      content: "";
      position: absolute;
      display: none;
      left: 4px;
      top: 1px;
      width: 6px;
      height: 9px;
      border: solid #ffff;
      border-radius: 1px;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
    }
  }

  &__checkboxText > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 16px;
    width: 16px;
  }

  &__checkboxText > input:checked + .FeedbackModal__checkboxBox {
    background: #338EF1;
    border-color: #338EF1;
  }
  
  &__checkboxText:hover > input:not(:checked) + .FeedbackModal__checkboxBox {
    background-color: rgba(51, 142, 241, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.8);
  }

  &__checkboxText > input:checked + .FeedbackModal__checkboxBox::after {
    display: block;
  }

  &__submit {
    background: #338EF1;
    width: 210px;
    height: 24px;
    border-radius: 4px;
    margin-left: 7px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &--submitted {
      background:  #81C860;
      width: 210px;
      height: 24px;
      border-radius: 4px;
      margin-left: 7px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      
      &:focus {
        outline: none;
      }
    }

  }

  &__submit--submitted > p {
    color: white;
    font-size: 11px;
    text-align: center;
    align-self: center;
    user-select: none;

  }

  &__submit > p {
    color: white;
    font-size: 11px;
    text-align: center;
    align-self: center;
    user-select: none;
  }


}