.FeedbackHeader {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 60px;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 20;
    background: #ffff;


    &__q1 {
        width: 297px;
        text-align: center;
        color: #000000;
        position: relative;
        left: 6%;

    }

    &__thanks {
        color: #000000;
        position: relative;
        left: 6%;
    }

    &__q2 {
        color: #000000;
        position: relative;
        left: 6%;
    }

    &__input {
        position: relative;
        left: 7%;
        border: 1px solid #e2dfdf;
        border-radius: 9px;
        &:focus {
            outline: none;
        }
    }

    &__yes, &__no {
        height: 24px;
        width: 58px;
        border-radius: 3px;
        background: #FBFBFB;
        border: 1px solid #CDCDCD;
        color: #0366D6;
        text-align: center;
        position: relative;
        left: 6%;

        &:hover {
            color: #ffff;
            background: #0366D6;
            border-color: #0366D6;
            cursor: pointer;
        }

    }

    &__yes {
        margin-right: 14px;
    }


    &__close {
        height: 20px;
        width: 20px;
        position: absolute;
        right: 2%;
        align-self: start;
        top: 8px;

        &::before,
        &::after {
          top: 48%;
          right: 18%;
          position: absolute;
          content: "";
          width: 14px; /* x size */
          height: 1.5px; /* x thickness */
          border-radius: 25px;
          background-color: #4F4F4F;
        }
        &::before {
            transform: rotate(45deg);
        }
      
        &::after {
            transform: rotate(-45deg);
        }

        &:hover {
            cursor: pointer;
            
            &::before {
                background-color:  #0366D6;
            }
            &::after {
                background-color:  #0366D6;
            }
        }
       

    }

    &__padding {
        position: relative;
        width: 100%;
        height: 40px;
    }
}