.FeedbackHeader {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 60px;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 20;
    background: #ffff;


    &__q1 {
        width: 297px;
        color: #000000;
        position: relative;
        left: 8%;

    }

    &__thanks {
        color: #000000;
        position: relative;
        left: 6%;
    }

    &__q2 {
        color: #000000;
        position: relative;
        left: 6%;
    }

    &__inputWrapper {
        display: flex;
        position: relative;
        left: 7%;
        align-items: stretch;
        border: 0.75px solid #BABABA;
        border-radius: 9px;
        &:focus-within {
            box-shadow: 0 0 5px  #0366D6;
          }
    }

    &__input {
        border: none;
        color: rgba(0, 0, 0, 0.6);
        font-size: 13px;
        margin: 2px 8px 2px;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: rgba(51, 51, 51, 0.2);
          }
    }

    &__yes, &__no {
        height: 24px;
        width: 58px;
        border-radius: 3px;
        background: #FBFBFB;
        border: 1px solid #CDCDCD;
        color: #0366D6;
        text-align: center;
        position: relative;
        left: 6%;

        &:focus {
            outline: none;
        }

        &:hover {
            color: #ffff;
            background: #0366D6;
            border-color: #0366D6;
            cursor: pointer;
        }

    }

    &__yes {
        margin-right: 14px;
    }


    &__close {
        height: 20px;
        width: 20px;
        position: absolute;
        right: 2%;
        align-self: start;
        top: 8px;

        &::before,
        &::after {
          top: 48%;
          right: 18%;
          position: absolute;
          content: "";
          width: 14px; /* x size */
          height: 1.5px; /* x thickness */
          border-radius: 25px;
          background-color: #4F4F4F;
        }
        &::before {
            transform: rotate(45deg);
        }
      
        &::after {
            transform: rotate(-45deg);
        }

        &:hover {
            cursor: pointer;
            
            &::before {
                background-color:  #0366D6;
            }
            &::after {
                background-color:  #0366D6;
            }
        }
       

    }

    &__padding {
        position: relative;
        width: 100%;
        height: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .FeedbackHeader {
        justify-content: flex-start;
        &__q1 {
            font-size: 12px;
            width: 225px;
        }
        &__thanks {
            font-size: 12px;
        }
        &__q2 {
            font-size: 12px;
        }
        &__inputWrapper {
            left: 8%;
        }

        &__yes, &__no {
            width: 20px;
            left: 8%;

        }
    
    }

}

@media only screen and (max-width: 320px) {
    .FeedbackHeader {
        &__q1 {
            width: 210px;
        }
        &__inputWrapper {
            width: 120px;
        }
        &__input {
            width: 100px;
        }
    }
}