.MobileSectionPanel {
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 16px;
  padding: 16px;
  color: black;

  &__meetings {
    & > span {
      margin-top: 16px;
      display: inline-block;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    & > span:first-child {
      max-width: 40%;
    }
  }

  &__firstRow {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;

    & > div:first-of-type {
      display: flex;
      align-items: center;

      & > svg {
        margin-right: 8px;
      }

      & > span:first-of-type {
        margin-bottom: 2px;
        margin-right: 12px;
      }
    }
  }

  &__secondRow {
    display: flex;
    justify-content: space-between;
  }

  & > .green {
    margin-top: 16px;
    color: #27ae34;
  }

  & > .yellow {
    margin-top: 16px;
    color: #ffbf3d;
  }

  & > .red {
    margin-top: 16px;
    color: #d41b2c;
  }
}
