.SearchResult {
  background: #fff;
  width: 100%;
  margin: 16px 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  font-family: Lato, sans-serif;
  font-style: normal;

  &__header {
    background: #fafafa;
    padding: 12px 16px 4px 16px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;

    &--left {
      width: 50%;
      display: inline-block;
    }

    &--classTitle {
      margin-bottom: 4px;
      font-size: 18px;
      line-height: 2px;
      border-radius: 5px 5px 0 0;
    }

    &--creditString {
      font-size: 15px;
      color: #474747;
    }

    &--sub {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    &--sub > span {
      font-style: italic;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 0.5px;
      margin: 0 0 2px 6px;
      color: #505050;
    }

    &--sub > svg:hover {
      cursor: pointer;
    }
  }

  &__panel {
    padding: 16px 16px 32px 16px;
    font-size: 14px;

    &--main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 24px;
    }

    &--left {
      font-weight: 600;
      font-size: 14px;
      width: max-content;
    }

    &--left > a {
      font-weight: normal;
      letter-spacing: 0.25px;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    &--left > span {
      font-weight: normal;
      letter-spacing: 0.25px;
    }

    &--left > span.empty {
      color: #969696;
    }

    &--right {
      position: relative;
      left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 24px;
    }
  }

  &__sectionTable {
    width: 100%;
    border-spacing: 0;
    font-size: 14px;
  }

  &__sectionTable > thead > tr > th {
    text-align: left;
    padding-left: 16px;
  }

  &__sectionTable > thead > tr > th:nth-child(6) {
    text-align: center;
    padding-left: 0;
  }

  &__sectionTable td {
    border: 1px solid #e9e9e9;
    padding: 16px 16px;
    font-size: 14px;
  }

  &__sectionTable td:nth-child(odd) {
    border-left: none;
    border-right: none;
  }

  &__sectionTable tr:nth-child(even) {
    background: #fff;
  }

  &__sectionTable tr:nth-child(even) td {
    border-top: none;
    border-bottom: none;
  }

  &__sectionTable > tbody > tr:nth-child(odd) {
    background: #fafafb;
  }

  &__showAll {
    padding: 10px 16px;
    background: #fafafb;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;

    & > span {
      margin-right: 8px;
    }

    &--collapse {
      transform: rotate(-180deg);
    }

    &:focus {
      outline: none;
    }
  }
}
