.HomeSearch {
  background: rgba(239, 240, 241, 0.7);
  border-radius: 4px;
  width: 782px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__campusSelector {
    height: 50px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 2px 2px 0 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    & > input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      height: 16px;
      width: 16px;
    }
    &--neu {
      pointer-events: initial;
      display: inline-block;
      width: 68px;
      height: 28px;
      text-align: center;
      padding-top: 2px;
      font-size: 11px;
      background: #fff;
      border: 1px solid #dededf;
      border-radius: 3px 0 0 3px;
      cursor: pointer;
    }
  
    &--cps {
      pointer-events: initial;
      display: inline-block;
      width: 68px;
      height: 28px;
      text-align: center;
      padding-top: 2px;
      font-size: 11px;
      background: #fff;
      border: 1px solid #dededf;
      cursor: pointer;
    }
  
    &--law {
      pointer-events: initial;
      display: inline-block;
      width: 68px;
      height: 28px;
      text-align: center;
      padding-top: 2px;
      font-size: 11px;
      background: #fff;
      border: 1px solid #dededf;
      border-radius: 0 3px 3px 0;
      cursor: pointer;
    }
  
    & > input:checked + .HomeSearch__campusSelector--neu,
    & > input:checked + .HomeSearch__campusSelector--cps,
    & > input:checked + .HomeSearch__campusSelector--law {
      border: 1px solid #489fff;
      color: #489fff;
    }
  }

  &__searchBar {
    display: flex;
    align-items: center;
    height: 94px;
    width: 100%;
    background: white;
    padding: 24px 32px;
    border-radius: 0 0 2px 2px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);


    &--dropdown {
      border-radius: 5px 0 0 5px;
      height: 100%;
      width: 55%;
      background:  #F5F5F5;
      display: flex;
      align-items: center;
      
    }
    &--input {
      border-radius: 0 5px 5px 0;
      height: 100%;
      width: 100%;
      
      & > div {
        height: 100%;
        width: 100%;
        border-radius: 0 5px 5px 0;
        background: #F5F5F5;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #E8E8E8;

        &:focus-within {
          box-shadow: none;
        }
        
        & > input {
          background: #F5F5F5;
          font-family: Lato;
          font-size: 17px;

          &::placeholder {
            font-family: Lato;
            color:  #717171;
           
          }
        }
        & > div {
          width: 54px;
          border-radius: 0 5px 5px 0;
        }


      }

    }
  }





}